[Desktop Entry]
Name=Synthwave Player
GenericName=An amazing Music Player made by Elive
GenericName[az]=Elive tərəfindən hazırlanmış inanılmaz bir musiqi pleyeri
GenericName[bg]=Невероятен музикален плейър, направен от Elive
GenericName[bn]=এলিভ দ্বারা তৈরি একটি আশ্চর্যজনক সংগীত প্লেয়ার
GenericName[ca]=Un increïble reproductor de música feta per Elive
GenericName[cs]=Úžasný hudební přehrávač vyrobený společností Elive
GenericName[da]=En fantastisk musikafspiller lavet af Elive
GenericName[de]=Ein fantastischer Musikplayer von Elive
GenericName[el]=Ένα εκπληκτικό πρόγραμμα αναπαραγωγής μουσικής από την Elive
GenericName[eo]=Mirinda muzikisto farita de Elive
GenericName[es]=Un increíble reproductor de música hecho por Elive
GenericName[et]=Hämmastav muusikamängija, mille on teinud Elive
GenericName[fi]=Elive tekemä hämmästyttävä musiikkisoitin
GenericName[fr]=Un incroyable lecteur de musique créé par Elive
GenericName[he]=נגן מוזיקה מדהים שנוצר על ידי Elive
GenericName[hi]=एलीव द्वारा बनाया गया एक अद्भुत संगीत खिलाड़ी
GenericName[hr]=Nevjerojatan glazbeni uređaj koji je napravio Elive
GenericName[hu]=Egy csodálatos zenelejátszó, amelyet az Elive készített
GenericName[id]=Pemutar musik yang luar biasa yang dibuat oleh Elive
GenericName[it]=Un fantastico lettore musicale realizzato da Elive
GenericName[ja]=Eliveが作った素晴らしい音楽プレーヤー
GenericName[ko]=Elive가 만든 놀라운 음악 연주자
GenericName[lt]=Nuostabus „Elive“ sukurtas muzikos grotuvas
GenericName[lv]=Pārsteidzošs mūzikas atskaņotājs, kuru veidojis Elive
GenericName[ms]=Pemain muzik yang menakjubkan yang dibuat oleh Elive
GenericName[nb]=En fantastisk musikkspiller laget av Elive
GenericName[nl]=Een geweldige muziekspeler gemaakt door Elive
GenericName[no]=En fantastisk musikkspiller laget av Elive
GenericName[pl]=Niesamowity odtwarzacz muzyki wykonany przez Elive
GenericName[pt]=Um incrível reprodutor de música feito pela Elive
GenericName[pt_BR]=Um incrível reprodutor de música feito pela Elive
GenericName[ro]=Un player de muzică uimitor creat de Elive
GenericName[ru]=Удивительный музыкальный плеер от Elive
GenericName[sk]=Úžasný hudobný prehrávač vyrobený Elive
GenericName[sl]=Neverjeten glasbeni igralec, ki ga je ustvaril Elive
GenericName[sr]=Невероватни музички плејер који је направио Еливе
GenericName[sv]=En fantastisk musikspelare gjord av Elive
GenericName[te]=ఎలివ్ చేసిన అద్భుతమైన మ్యూజిక్ ప్లేయర్
GenericName[tl]=Isang kamangha -manghang manlalaro ng musika na ginawa ni Elive
GenericName[tr]=Elive tarafından yapılan inanılmaz bir müzik çalar
GenericName[uk]=Дивовижний музичний плеєр, зроблений Elive
GenericName[vi]=Một máy nghe nhạc tuyệt vời do Elive tạo ra
GenericName[zh_CN]=Elive 制作的一款了不起的音乐播放器
GenericName[zh_TW]=Elive 製作的一款了不起的音樂播放器
Comment=Enjoy your favorite music with this Elive music player
Comment[az]=Bu Elive musiqi pleyeri ilə sevdiyiniz musiqidən həzz alın
Comment[bg]=Насладете се на любимата си музика с този музикален плейър на Elive
Comment[bn]=এই Elive মিউজিক প্লেয়ার দিয়ে আপনার প্রিয় সঙ্গীত উপভোগ করুন
Comment[ca]=Gaudeix de la teva música preferida amb aquest reproductor de música d'Elive
Comment[cs]=Užijte si svou oblíbenou hudbu s tímto hudebním přehrávačem od Elive
Comment[da]=Nyd din yndlingsmusik med denne Elive musikafspiller
Comment[de]=Genießen Sie Ihre Lieblingsmusik mit diesem Musikplayer von Elive
Comment[el]=Απολαύστε την αγαπημένη σας μουσική με αυτό το πρόγραμμα αναπαραγωγής μουσικής της Elive
Comment[eo]=Ĝuu vian preferatan muzikon per ĉi tiu Elive muzikludilo
Comment[es]=Disfruta de tu música favorita con este reproductor de música de Elive
Comment[et]=Nautige oma lemmikmuusikat selle Elive'i muusikapleieriga
Comment[fi]=Nauti lempimusiikistasi tällä Eliven musiikkisoittimella
Comment[fr]=Écoutez votre musique préférée avec ce lecteur de musique Elive
Comment[he]=תהנה מהמוזיקה האהובה עליך עם נגן המוזיקה הזה של Elive
Comment[hi]=इस एलाइव म्यूजिक प्लेयर के साथ अपने पसंदीदा संगीत का आनंद लें
Comment[hr]=Uživajte u omiljenoj glazbi uz ovaj Elive glazbeni svirač
Comment[hu]=Élvezze kedvenc zenéit ezzel az Elive zenelejátszóval
Comment[id]=Nikmati musik favorit Anda dengan pemutar musik Elive ini
Comment[it]=Goditi la tua musica preferita con questo lettore musicale di Elive
Comment[ja]=この Elive 音楽プレーヤーでお気に入りの音楽をお楽しみください
Comment[ko]=이 Elive 뮤직 플레이어로 좋아하는 음악을 즐기세요
Comment[lt]=Mėgaukitės mėgstama muzika su šiuo Elive muzikos grotuvu
Comment[lv]=Izbaudiet savu iecienītāko mūziku ar šo Elive mūzikas atskaņotāju
Comment[ms]=Nikmati muzik kegemaran anda dengan pemain muzik Elive ini
Comment[nb]=Nyt favorittmusikken din med denne Elive-musikkspilleren
Comment[nl]=Geniet van je favoriete muziek met deze Elive muziekspeler
Comment[no]=Nyt favorittmusikken din med denne Elive-musikkspilleren
Comment[pl]=Ciesz się ulubioną muzyką dzięki temu odtwarzaczowi muzycznemu Elive
Comment[pt]=Desfrute da sua música favorita com este leitor de música da Elive
Comment[pt_BR]=Curta sua música favorita com este reprodutor de música da Elive
Comment[ro]=Bucurați-vă de muzica preferată cu acest player de muzică de la Elive
Comment[ru]=Наслаждайтесь любимой музыкой с этим музыкальным плеером от Elive
Comment[sk]=Vychutnajte si svoju obľúbenú hudbu s týmto hudobným prehrávačom od Elive
Comment[sl]=Uživajte v svoji najljubši glasbi s tem predvajalnikom glasbe Elive
Comment[sr]=Уживајте у својој омиљеној музици са овим Elive музичким плејером
Comment[sv]=Njut av din favoritmusik med denna Elive-musikspelare
Comment[te]=ఈ ఎలివ్ మ్యూజిక్ ప్లేయర్‌తో మీకు ఇష్టమైన సంగీతాన్ని ఆస్వాదించండి
Comment[tl]=I-enjoy ang iyong paboritong musika gamit ang Elive music player na ito
Comment[tr]=Bu Elive müzik çalar ile favori müziğinizin keyfini çıkarın
Comment[uk]=Насолоджуйтесь улюбленою музикою з цим музичним плеєром від Elive
Comment[vi]=Thưởng thức âm nhạc yêu thích của bạn với trình phát nhạc Elive này
Comment[zh_CN]=用这款 Elive 音乐播放器欣赏您最喜爱的音乐
Comment[zh_TW]=用這款 Elive 音樂播放器欣賞您最喜愛的音樂
Exec=synthwave-player
Icon=synthwave-player
Type=Application
Categories=AudioVideo;Player;Audio;Music;
StartupNotify=false
Terminal=false
