[Desktop Entry]
Name=Synthwave Player Server
GenericName=Music Server for Synthwave Player
GenericName[az]=Synthwave Player üçün musiqi serveri
GenericName[bg]=Музикален сървър за Synthwave Player
GenericName[bn]=সিন্থওয়েভ প্লেয়ারের জন্য সঙ্গীত সার্ভার
GenericName[ca]=Servidor de música per al reproductor Synthwave
GenericName[cs]=Hudební server pro Synthwave Player
GenericName[da]=Musikserver til Synthwave Player
GenericName[de]=Musikserver für den Synthwave Player
GenericName[el]=Διακομιστής μουσικής για το Synthwave Player
GenericName[eo]=Muzikservilo por Synthwave Player
GenericName[es]=Servidor de música para Synthwave Player
GenericName[et]=Synthwave Playeri muusikaserver
GenericName[fi]=Musiikkipalvelin Synthwave Playerille
GenericName[fr]=Serveur de musique pour Synthwave Player
GenericName[he]=שרת מוזיקה עבור Synthwave Player
GenericName[hi]=सिंथवेव प्लेयर के लिए संगीत सर्वर
GenericName[hr]=Glazbeni poslužitelj za Synthwave Player
GenericName[hu]=Zeneszerver a Synthwave Player számára
GenericName[id]=Server musik untuk Synthwave Player
GenericName[it]=Server musicale per Synthwave Player
GenericName[ja]=Synthwave Player 用の音楽サーバー
GenericName[ko]=Synthwave Player용 음악 서버
GenericName[lt]=„Synthwave Player“ muzikos serveris
GenericName[lv]=Synthwave Player mūzikas serveris
GenericName[ms]=Pelayan muzik untuk Synthwave Player
GenericName[nb]=Musikkserver for Synthwave Player
GenericName[nl]=Muziekserver voor Synthwave Player
GenericName[no]=Musikkserver for Synthwave Player
GenericName[pl]=Serwer muzyki dla Synthwave Player
GenericName[pt]=Servidor de música para o Synthwave Player
GenericName[pt_BR]=Servidor de músicas para o Synthwave Player
GenericName[ro]=Server de muzică pentru Synthwave Player
GenericName[ru]=Музыкальный сервер для Synthwave Player
GenericName[sk]=Hudobný server pre Synthwave Player
GenericName[sl]=Glasbeni strežnik za Synthwave Player
GenericName[sr]=Музички сервер за Synthwave Player
GenericName[sv]=Musikserver för Synthwave Player
GenericName[te]=సింథ్వేవ్ ప్లేయర్ కోసం సంగీత సర్వర్
GenericName[tl]=Music server para sa Synthwave Player
GenericName[tr]=Synthwave Player için Müzik Sunucusu
GenericName[uk]=Музичний сервер для Synthwave Player
GenericName[vi]=Máy chủ nhạc cho Synthwave Player
GenericName[zh_CN]=Synthwave Player 的音乐服务器
GenericName[zh_TW]=Synthwave Player 的音樂伺服器
Comment=Serve your music across all your devices or online
Comment[az]=Musiqinizi bütün cihazlarınızda və ya onlayn olaraq paylaşın
Comment[bg]=Споделяйте музиката си на всичките си устройства или онлайн
Comment[bn]=আপনার সমস্ত ডিভাইস জুড়ে বা অনলাইনে আপনার সঙ্গীত পরিবেশন করুন
Comment[ca]=Serviu la vostra música a tots els vostru dispositius o en línia
Comment[cs]=Sdílejte svou hudbu na všech svých zařízeních nebo online
Comment[da]=Del din musik på tværs af alle dine enheder eller online
Comment[de]=Stellen Sie Ihre Musik auf all Ihren Geräten oder online bereit
Comment[el]=Μοιραστείτε τη μουσική σας σε όλες τις συσκευές σας ή διαδικτυακά
Comment[eo]=Disponigu vian muzikon tra ĉiuj viaj aparatoj aŭ rete
Comment[es]=Comparta su música en todos sus dispositivos o en línea
Comment[et]=Jagage oma muusikat kõigis oma seadmetes või veebis
Comment[fi]=Jaa musiikkiasi kaikilla laitteillasi tai verkossa
Comment[fr]=Diffusez votre musique sur tous vos appareils ou en ligne
Comment[he]=הגש את המוזיקה שלך בכל המכשירים שלך או באופן מקוון
Comment[hi]=अपने सभी उपकरणों पर या ऑनलाइन अपना संगीत परोसें
Comment[hr]=Posluživajte svoju glazbu na svim svojim uređajima ili online
Comment[hu]=Ossza meg zenéit az összes eszközén vagy online
Comment[id]=Sajikan musik Anda di semua perangkat Anda atau secara online
Comment[it]=Condividi la tua musica su tutti i tuoi dispositivi o online
Comment[ja]=すべてのデバイスで、またはオンラインで音楽を共有します
Comment[ko]=모든 기기에서 또는 온라인으로 음악을 공유하세요
Comment[lt]=Dalykitės savo muzika visuose savo įrenginiuose arba internetu
Comment[lv]=Kopīgojiet mūziku visās savās ierīcēs vai tiešsaistē
Comment[ms]=Hidangkan muzik anda di semua peranti anda atau dalam talian
Comment[nb]=Del musikken din på tvers av alle enhetene dine eller online
Comment[nl]=Deel uw muziek op al uw apparaten of online
Comment[no]=Del musikken din på tvers av alle enhetene dine eller online
Comment[pl]=Udostępniaj swoją muzykę na wszystkich swoich urządzeniach lub online
Comment[pt]=Compartilhe as suas músicas em todos os seus dispositivos ou online
Comment[pt_BR]=Compartilhe suas músicas em todos os seus dispositivos ou online
Comment[ro]=Partajați-vă muzica pe toate dispozitivele sau online
Comment[ru]=Делитесь своей музыкой на всех устройствах или онлайн
Comment[sk]=Zdieľajte svoju hudbu na všetkých svojich zariadeniach alebo online
Comment[sl]=Delite svojo glasbo v vseh svojih napravah ali na spletu
Comment[sr]=Делите своју музику на свим својим уређајима или онлајн
Comment[sv]=Dela din musik på alla dina enheter eller online
Comment[te]=మీ అన్ని పరికరాల్లో లేదా ఆన్‌లైన్‌లో మీ సంగీతాన్ని అందించండి
Comment[tl]=Ibahagi ang iyong musika sa lahat ng iyong device o online
Comment[tr]=Müziğinizi tüm cihazlarınızda veya çevrimiçi olarak paylaşın
Comment[uk]=Діліться своєю музикою на всіх своїх пристроях або онлайн
Comment[vi]=Chia sẻ nhạc của bạn trên tất cả các thiết bị của bạn hoặc trực tuyến
Comment[zh_CN]=在您的所有设备或在线共享您的音乐
Comment[zh_TW]=在您的所有設備或在線共享您的音樂
Exec=synthwave-player-server --daemon
Icon=synthwave-player-server
Type=Application
Categories=AudioVideo;Player;Audio;Music;
StartupNotify=false
Terminal=false
# NoDisplay=true
